ul.brands {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 10px;
}

ul.brands li {
    width: 20% !important;
    padding-bottom: 20px;
}

.brand-detail {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 20px;
}

.brand-detail .brand-description {
  flex: 1;
  font-size: 16px;
  line-height: 1.7;
  padding-right: 20px;
}

.brand-detail .brand-description h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
}

.brand-detail .brand-logo {
  width: 300px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  background-color: transparent;
}

.woocommerce #container #content div.product .woocommerce-tabs ul.tabs li.active {
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}

.panel.entry-content {
  line-height: 1.8;
}

.search-box {
  margin-top: 3px;
}

#searchform .search-input input {
  border: 1px solid #333;
}

.header-logo {
  font-size: 45px;
  font-weight: bold;
  font-family: 'PT Sans Narrow';
  text-transform: uppercase;
  padding: 28px 20px 20px 30px;
}

.header-logo .template-logo {
  width: 250px !important;
}

.header-widget-area {
  float: right;
  padding-top: 25px;
}

div.product div.images {
  padding: 0 75px 20px 75px;
}

.header-logo a {
  color: #333;
}

td.value {
  text-align: left;
}

.entry-summary .variations_form table.variations td.value select {
  background-color: #fff;
  border-radius: 0 !important;
  font-size: 14px !important;
  height: 31px !important;
}

/*.woocommerce div.product form.cart .variations tbody tr>td:not(:last-of-type) {
  padding-right: 20px;
}*/

.footer-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 0;
  margin-left: 0;
}

.footer-nav strong {
  text-transform: uppercase;
  font-size: 16px;
}

.footer-nav>li {
  min-width: 200px;
}

.footer-nav-2 {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.footer-nav-2 span, .footer-nav-2 img {
  padding-right: 20px;
}

.footer-nav-2 img {
  max-height: 30px;
}

.footer-nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.footer-nav>li>strong {
  padding-bottom: 5px;
  display: block;
}

#footer .fullwidth-block {
  background-color: #222222;
}

.footer-logo {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  font-family: 'PT Sans Narrow';
}

.totop-button {
  background: #c6c6c6;
  color: #000;
  font-weight: bold;
  border-color: transparent;
  border-radius: 50%;
}

.totop-button .icon-arrow-slide-up {
  color: #333;
  font-weight: bold;
}

.row-fullwidth .fullwidth-block.header-small-content {
  padding-bottom: 0 !important;
}

.row .woocommerce .box .image {
  width: 100%;
}

.element.product-style-2 {
  width: 19.2%;
  padding-right: 1%;
}

.element.product-style-2:last-of-type {
  padding-right: 0;
}

.woocommerce .product-style-2 .box, .woocommerce .product-style-3 .box {
  border-width: 0;
}

.rating.rating-none {
  display: none;
}

.sidebar-box h3 {
  margin: 0 0 15px 0;
  text-align: left;
  border-bottom: none;
  background-color: #f1f1f1;
  color: #303030 !important;
  font-size: 15px;
  text-align: center;
  padding: 8px;
  font-weight: bold;
}

.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
  margin: 0;
  line-height: 30px;
}

.archive-content .row.section-header, .row.section-header {
  margin-bottom: 0 !important;
}

.sidebar-box .section-big-wrapper {
  border: none !important;
}

.row-fullwidth .featured-footer-content {
  background-color: #ffffff !important;
  border-top: 1px solid #ddd;
}

.product-box h2 a {
  color: #333;
  font-weight: bold;
  margin-bottom: 0;
}

a.brand {
  color: #333;
}

h1.product_title {
  line-height: 1.5em;
  margin-bottom: 0px !important;
}

.price {
  margin-bottom: 5px !important;
}

.price .amount {
  font-size: 28px;
  font-weight: normal;
}

#footer-featured-area a {
  color: #999;
  font-size: 12px;
}

.releated-product .carousel-control {
  top: -37px;
}

.carousel.horizontal {
  margin-top: 10px;
}


/*.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
  width: 50%;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
  width: 35%;
}*/

#header .header-small-content .header-logo h1 img {
  max-width: 170px;
}

.row-fullwidth .page-top {
  min-height: 40px;
  line-height: normal;
}

.top-bar-1-right>ul {
  height: 40px;
  line-height: 40px;
}

.top-bar-1-right>ul>li {
  height: inherit;
  line-height: normal;
}

.top-bar-login-content a {
  line-height: normal;
}

.row-fullwidth .page-top.fullwidth-block {
  border-bottom: solid 1px #ddd;
}

.row-fullwidth .page-top.fullwidth-block a:hover, .page-top .top-bar-login-content a:hover span, .top-bar-1-right a:hover span {
  color: #7BB2B2;
}

.row-fullwidth .page-top.fullwidth-block span {
  line-height: normal;
}

.top-bar-woo-cart>a {
  line-height: normal;
  display: block;
}

ul.top-nav {
  padding-left: 0;
}

.top-bar-login-content .topbar-title-text {
  display: inline-block !important;
}

.top-bar-login-content a {
  display: inline-block;
  margin-left: 20px;
  font-size: 100%;
}

.top-bar-1-right a {
  font-size: 100%;
}

ul.language-chooser {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

ul.language-chooser a {
  color: #333;
}

ul.language-chooser li {
  display: inline-block;
  font-size: 100%;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
}

.top-bar-1-left {
  bottom: 0;
  position: absolute;
}

.el-social-icons {
  text-align: right;
}

.section-big-wrapper {
  border-bottom-color: #ddd;
}

h3.section-big, .left1_sidebar h1 {
  text-align: left;
  font-weight: bold;
  color: #000;
  display: block;
  border-bottom: none;
  text-transform: uppercase;
  margin-bottom: 0;
}

.left1_sidebar h1 {
  font-size: 22px;
}

#content .row.category-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

#left1-sidebar h3.section-big {
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 14px;
}

.sidebar-box {
  padding-left: 10px;
}

#header .small-menu.row-menu-border {
  border-bottom: solid 1px #ddd;
}

.woocommerce .product-style-2 .box h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.woocommerce .product-style-2 .image img {
  max-height: 192px;
}

#header .small-menu ul.top-nav li.jaw-menu-item-depth-0.has-dropdown>a>.jaw-menu-icon {
  display: none;
}

ul.top-nav li.jaw-menu-item-fullwidth>ul.sub-menu {
  width: 100%;
}

ul.top-nav>li>a {
  font-size: 16px !important;
  transition: color 0.1s;
}

ul.top-nav>li:hover .sub-menu {
  animation: fadeIn 0.2s;
}

.woocommerce-tabs .active, .panel {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  ;
  100% {
    opacity: 1.0
  }
  ;
}

ul.top-nav>li>ul.sub-menu {
  border: 1px solid #ccc !important;
  margin-top: -1px;
  /*padding-bottom: 10px;
  border-bottom: solid 1px #ddd;*/
}

#brand-initial {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ddd;
  padding-bottom: 10px;
}

#brand-initial a {
  width: auto !important;
}

#header .small-menu ul.top-nav>li:first-of-type {
  margin-left: 10px;
}

#header .small-menu ul.top-nav>li {
  margin: 0 40px 0 0;
}

.sub_menu {
  font-weight: bold;
  font-size: 105%;
}

ul.top-nav li.jaw-menu-item-dropdown>ul.sub-menu>li, .top-bar-woo-cart .top-bar-cart-content.woocommerce .product_list_widget>li {
  border-bottom: none;
}

.product-categories>.cat-item>.children {
  display: block !important;
  padding-left: 5px;
  font-size: 12px;
  line-height: 1.2em !important;
}

.product-categories>.cat-item>.children .children {
  display: none !important;
}

.product-categories>.cat-item>a {
  font-weight: bold;
  width: 100% !important;
  padding-bottom: 5px;
  text-transform: uppercase;
}


/*.widget.woocommerce.widget_product_categories ul.product-categories li a {
	width: 100%;
}*/

.product-categories .icon-arrow-up-gs, .product-categories .icon-arrow-right-gs, .product-categories .widget-menu-dropdown {
  display: none;
}

.widget_product_categories ul.product-categories>li {
  border-bottom-width: 0;
  padding-bottom: 10px;
}

.widget_product_categories ul.product-categories>li>a {
  padding: 0;
  line-height: 24px;
  display: inline-block;
  margin-bottom: 0;
}

.widget_product_categories ul.product-categories>li li a {
  line-height: 1.2;
}

.widget.woocommerce.widget_product_categories ul.product-categories ul.children li a {
  width: 100%;
}

.row.section-header.space {
  margin-top: 0;
}

.breadcrumb a:after {
  content: ">";
}

.breadcrumb>a:last-of-type {
  font-weight: bold;
}

.breadcrumb>a:last-of-type:after {
  content: "";
}

.woocommerce .row div.product div.images img, .woocommerce-page .row div.product div.images img, .woocommerce #content .row div.product div.images img, .woocommerce-page #content .row div.product div.images img {
  border: none;
}

.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th {
  vertical-align: middle;
}

.woocommerce #content div.product .entry-summary .variations label, .woocommerce div.product .entry-summary .variations label, .woocommerce-page #content div.product .entry-summary .variations label, .woocommerce-page div.product .entry-summary .variations label {
  margin-top: 0;
  margin-bottom: 0;
}

.woocommerce div.product form.cart .variations td.label {
  padding-bottom: 0;
  padding-top: 0;
}

.woocommerce #content .entry-summary .quantity, .woocommerce .entry-summary .quantity, .woocommerce-page #content .entry-summary .quantity, .woocommerce-page .entry-summary .quantity {
  width: auto;
}

.woocommerce div.product form.cart .reset_variations {
  display: none !important;
}

.woocommerce .entry-summary .description-container {
  display: none;
}

.woocommerce #content div.product form.cart, .woocommerce div.product form.cart, .woocommerce-page #content div.product form.cart, .woocommerce-page div.product form.cart {
  margin: 0;
}

.woocommerce #content div.product .entry-summary form.cart .variations select, .woocommerce div.product .entry-summary form.cart .variations select, .woocommerce-page #content div.product .entry-summary form.cart .variations select, .woocommerce-page div.product .entry-summary form.cart .variations select {
  margin-bottom: 0;
}

.woocommerce #content .entry-summary .quantity, .woocommerce .entry-summary .quantity, .woocommerce-page #content .entry-summary .quantity, .woocommerce-page .entry-summary .quantity {
  float: none;
}

.woocommerce #content .entry-summary .quantity .input-text {
  height: auto;
  float: none;
  /*margin-bottom: 15px;*/
  font-size: 20pxx;
}

.product_meta span.sku_wrapper, .product_meta span.posted_in, .product_meta span.tagged_as {
  border-top: none;
  padding: 0;
}

div.product .summary .product_meta {
  margin-top: 20px;
  padding: 15px;
  background-color: #f5f5f5;
  /*display: none;*/
  font-size: 12px;
  text-transform: uppercase;
}

button[name='add-to-cart']:hover {
  background-color: #333 !important;
  transition: background-color 0.3s;
}


.widget_mgwoocommercebrands .count {
  /*display: none;*/
  margin-left: 10px;
}

.widget_mgwoocommercebrands ul {
  font-family: 'Open Sans';
}

.home h3.section-big {
  text-align: center;
}

.carousel-control .icon-next, .carousel-control .icon-prev {
  color: #CFD0D1;
}

a.link-facebook {
  color: #3B5998 !important;
}

a.link-twitter {
  color: #00B6F1 !important;
}

a.link-google {
  color: #DD4B56 !important;
}

a.link-pinterest {
  color: #CB2027 !important;
}

a.link-email {
  color: #7a8c8c !important;
}

.socialshare-icon li span {
  display: block;
  width: 28px;
  height: 28px;
  font-size: 28px;
}

.socialshare-icon {
  margin-top: 10px;
}

.contact-name h3, .contact-time h4 {
  margin-top: 0;
  font-size: 24px;
}

.contact-time h4 {
  padding-top: 20px;
}

.contact-time-mo p {
  margin-bottom: 3px;
}

hr {
  margin-top: 3px;
  margin-bottom: 3px;
  border-color: #CFD0D1;
}

@media only print, only screen and (max-width: 767px) {
  .header-widget-area {
    display: none;
  }
}

.archive .section-big {
  margin-top: 0;
}

.woocommerce #content .entry-summary .quantity .input-text,
.woocommerce-page #content .product-quantity .quantity .input-text {
    border-radius: 0;
    line-height: 31pxx;
    height: 31px;
    min-width: 50px;
    padding-left: 20px;
    background-color: #ffffff;
    border-color: #999999;
    -webkit-appearance: none;
}

.quantity {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 15px !important;
}

.variations td.label,
label.quantity {
  min-width: 100px;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  font-weight: normal;
  padding-right: 20px !important;
}

.ed__variation__button__wrp {
  margin-left: 0 !important;
}

.quantity:before {
  content: none !important;
  display: none !important;
}

td.product-quantity .quantity {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0 !important;
}

td.product-quantity .quantity label.quantity {
  display: none;
}

input.button[name='update_cart'] {
  display: none;
}

.woocommerce-cart .wc-proceed-to-checkout {
  float: right !important;
}

.checkout-button.button.alt.wc-forward {
  line-height: 40px !important;
  height: 50px !important;
  color: #ffffff !important;
}

.checkout-button.button.alt.wc-forward:hover {
  background-color: #000 !important;
  transition: background-color 0.3s;
}

.woocommerce-page #main input.button[name='apply_coupon'] {
    background-color: #000000 !important;
}

/*.archive .category-bar {
  display: none;
}*/

#orderby {
  height: 25px;
  line-height: 25px;
}

ins {
  text-decoration: none;
}

.product-cat-title {
  padding-top: 30px;
}

.product-cat-title .section-big-wrapper {
  padding-bottom: 3px;
}

.product-cat-description {
  padding-top: 10px;
}

.product-cats {
  background: #f7f7f7;
  padding: 10px 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}

.product-cats li {
  width: 25%;
  list-style: none;
  zoom: 1;
  padding: 5px;
}

.product-cats li a {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #323232;
  font-size: 13px;
  font-weight: normal;
  font-weight: 400;
}

.product-cats li a:hover {
  color: #FF9C00;
}

.woocommerce .product-style-0 .image, .woocommerce-LoopProduct-link .image, .woocommerce .product-style-2 .image {
  height: 200px;
}

.woocommerce .product-style-0 .image img, .woocommerce-LoopProduct-link .image img, .woocommerce .product-style-2 .image img {
  width: 200px;
  height: 200px;
}

.featured-bar {
  display: none;
}

.comparebutton {
  display: none;
}

.row-fullwidth .page-title .fullwidth-block {
  background-color: transparent;
}

.row-breadcrumbs {
  padding-left: 35px;
  margin-bottom: -20px;
}

.cat-parent .count {
  display: none;
}

.children .cat-item .count, .children .cat-parent .count {
  display: inline-block;
}

.widget.woocommerce.widget_product_categories ul.product-categories ul.children li a {
  width: auto !important;
}

.widget.woocommerce.widget_product_categories ul.product-categories li .count {
  position: absolute;
  float: none;
  margin-left: 10px;
  top: -2px;
}

#tab-additional_information h2 {
  display: none;
}

.shop_attributes {
  margin-top: -10px;
}

ul.top-nav .menu-item-7587 ul.sub-menu {
  width: 600px;
}

ul.top-nav ul.sub-menu {
  left: -25px;
}

ul.top-nav .menu-item-7587 ul.sub-menu li {
  width: 30%;
  display: inline-block;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: #333;
  border-style: dashed;
  box-shadow: none;
  outline: 0 none;
}

button.single_add_to_cart_button {
  font-weight: bold !important;
  font-size: 15px !important;
}

.variations tr {
  display: flex;
  align-items: center;
}

.value .ed__variation__button__wrp label i {
  position: static;
}

.woocommerce #content div.product .entry-summary form.cart .variations, .woocommerce div.product .entry-summary form.cart .variations, .woocommerce-page #content div.product .entry-summary form.cart .variations, .woocommerce-page div.product .entry-summary form.cart .variations {
  margin-bottom: 5px !important;
}
.single_variation_wrap .single_variation {
  margin-bottom: 7px !important;
}

.top-bar-cart-content.woocommerce ul.cart_list li img,
.top-bar-cart-content.woocommerce ul.product_list_widget li img {
  float: left;
}

.top-bar-woo-cart .top-bar-cart-content.woocommerce .product_list_widget>li img {
  margin-right: 10px;
}

.widget_shopping_cart_content {
  margin-top: 10px;
  border: solid 1px #ddd;
}

.total {
  text-align: right;
}

.top-bar-woo-cart .top-bar-cart-content.woocommerce .buttons .button.checkout {
  margin-top: 0;
}

.woocommerce ul.cart_list li dl, .woocommerce ul.product_list_widget li dl {
  padding-left: 40px;
  border-left: 0;
}

#content .product_subcategories {
  display: flex;
  flex-wrap: wrap;
  background: #f7f7f7;
  padding: 10px !important;
  margin: 0 !important;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}

.product_subcategories > .product-category {
  width: 25%;
}

.woocommerce #content div.product-category .category-info,
.woocommerce div.product-category .category-info {
  padding: 0;
  background: none;
  text-align: left;
  position: static;
}

.woocommerce #content div.product-category a, .woocommerce div.product-category a {
  min-height: 0;
}

.woocommerce #content div.product-category.element, .woocommerce div.product-category.element {
  margin-bottom: 0;
}

.woocommerce #content div.product-category, .woocommerce div.product-category {
  min-height: 0;
}

div.product-category .category-info h2 {
  font-size: 14px;
}

@media only screen and (min-width: 1280px) {
    .archive-content .col-lg-3 {
      width: 255px;
    }
}
